.app-header {
    position: relative;
}

.app-header div{
    position: absolute;
   
    z-index: 3;
    margin-inline-start: 0.5em;
    margin-block-start: 0.5em;
}


.app-header img {
    display: grid;
    place-content: center;
    
}